<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>502234747976-h9q6eg4h44ehg33r3ml780audut0ljeq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.502234747976-h9q6eg4h44ehg33r3ml780audut0ljeq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>502234747976-ajgs122fpauu1slbvqi2p34eeel9u444.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDNe20GjdjY19rwRuXmHKA3GH6EugGYrys</string>
	<key>GCM_SENDER_ID</key>
	<string>502234747976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.documentscan</string>
	<key>PROJECT_ID</key>
	<string>ongoodterms</string>
	<key>STORAGE_BUCKET</key>
	<string>ongoodterms.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502234747976:ios:a0b702c4dc58e70362747d</string>
	<key>DATABASE_URL</key>
	<string>https://ongoodterms-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>